body{
    background-color: white; 
    color: black;
  }
.jumbotron{
  background-color: lightblue;
}
h1{
    background-color: grey;
    font-size: xx-large;
    color: black;
    margin: 0 auto; 
}

