<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col col-lg-8">
                <h1 class="jumbotron"><strong>Mission to Mars</strong></h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
            </div>
        </div>
    </div>
    <div class="row" id="mars-news">
        <div class="col-md-12">
            <div class="media">
                <div class="media-body">
                    <h2 style="font-size: large;">Latest Mars News</h2>
                    <h3 style="font-size: large;">{{mars_db.news_title}}</h3>
                    <p>{{mars_db.news_p}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 style="font-size: large;">Featured Mars Image</h2>
            <img src="https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA20465-1920x1200.jpg" alt="Mars Image"
                style="width: 100%;">
        </div>
    </div>
    <div class="col-lg-4 col-md-4" style="padding-top: 60px;">
        <div class="card-body" style="width: 100%">
            <h5 style="font-weight: bold" class="card-title">Mars Facts</h5>
            <table>{{mars_data | safe}} </table>
        </div>
    </div>
    <div class="row" id="mars-hemispheres" style="margin-top:80px;">
        <div class="page-header">
            <h2 class="text-center">Mars Hemispheres</h2>
        </div>
        {% for hemisphere in mars_data.hemisphere_imgs_urls %}
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{{hemisphere_imgs_urls.img_url}}" alt="...">
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</body>

</html>